@font-face {
  font-family: "Varela";
  src: url("/fonts/VarelaRound-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Varela", fallback, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #845ec2;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8888dd;
}

@keyframes pulse {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #48bb78;
  }
  100% {
    border-color: transparent;
  }
}
