@font-face {
  font-family: "Your Font";
  src:
    url("/fonts/ZillaSlab-Regular.ttf") format("truetype"),
    url("/fonts/ZillaSlab-LightItalicd.ttf") format("truetype"),
    url("/fonts/ZillaSlab-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Zilla Slab", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #845ec2;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8888dd;
}
