@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #845ec2;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8888dd;
}
